@tailwind base;
@tailwind utilities;

@import "tailwindcss";

html {
    scroll-behavior: smooth;
}
body {
    font-family: serif;
    background: #e2e8f0;
    color: #1e293b;
}
.descr, .logo {
    font-family: "Old Standard TT", serif;
}
nav, button, .preferences {
    font-family: sans-serif;
}
.container {
    max-width: 1536px;
    margin: 0 auto;
    position: relative;
}
